* {
	/*outline-style: solid;*/
}

body, ul, p {
	margin: 0;
}
ul {
	list-style-type: none;
}

.height1{ height: 50px; }
.height2{ height: 100px; }
.height3{ height: 150px; }
.height4{ height: 200px; }
.width1{ width: 300px; }
.width2{ width: 600px; }
.width3{ width: 900px; }
.width4{ width: 1200px; }
.width10{ width: 10%; }
.width70{ width: 70%; }
.width100{ width: 100%; }
.disBlock{ display: block; }
.disInline{ display: inline; }
.disInlineBlock{ display: inline-block; }
.blockRight{ float: right; }
.blockHorizonCenter{ margin: 0 auto; }
.blockVerticalCenter{ 
	position: absolute;
	top: 50%;
	transform: translateY(-50%); 
	}
.blockBothCenter{ 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%); 
}
content{
    border: 1px solid #d8d8d8;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
header {
	background-color: #00bbd3;
	position: relative;
}
header > div {
	font-size: 48px;
	color: #fff;
}
section {
	position: relative;
    border-bottom: 2px solid #00bbd8;
    font-size: 36px;
	/*background-color: #f00;*/
}
ul { padding: 0; }
li {
	position: relative;
	padding-left: 30px;
	border-bottom: 1px solid #888888;
	font-size: 24px;
	cursor: pointer;
}
li:last-of-type { border-bottom: 0; }
li > div {
	/*background-color: #00f;	*/
}
.inputBlank {
    padding: 0;
    border: 0;
    border-bottom: 1px solid #00bbd8;
    height: 49px;
    font-size: 36px;
}
.inputButton {
	width: 100px;
	height: 50px;
	background-color: #00bbd8;
	text-align: center;
	float: right;
	border-radius: 5px;
	margin-left: 20px;
	color: #fff;
	cursor: pointer;
	/*padding-top: 15px;*/
}
.remove {
	color: #e64980;
	font-weight: 600;
	opacity: 0;
	cursor: pointer;
}
.todo-item:hover > .remove {
	opacity: 1;
}
.check {
	color: #3bc9db;
	font-weight: 800;
	cursor: pointer;
}
.strikethrough {
	color: #adb5bd;
	text-decoration: line-through;
}